@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

button,
[role="button"],
a {
  cursor: pointer;
}

/* Hide scrollbars but keep scroll functionality */
.no-scrollbar {
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
