@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

button,
[role="button"],
a {
  cursor: pointer;
}

/* Scrollbar styling */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(209 213 219) transparent;
}

.dark * {
  scrollbar-color: rgb(55 65 81) transparent;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(209 213 219);
  border-radius: 3px;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: rgb(55 65 81);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(156 163 175);
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: rgb(75 85 99);
}
